.App {
  text-align: center;
}

.App-header {
  background-color: cadetblue;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
}



.App-main {
  background-color: #CAC295;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin-top: 17px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header:after {
  content: " ";
  display: table;
  clear: both;
}

header ul {
  list-style: none;
}

header ul li {
  float: left;
  margin-right: 20px;
}

a {
  color: white
}
.select {
  margin-right: auto;
  padding: 5px;
  width: 185px;
}